@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base brand tweaks */
:root { --radius: 1rem; }
.font-inter { font-family: theme(fontFamily.inter); }
.font-sourcesans { font-family: theme(fontFamily.sourcesans); }

html { scroll-behavior: smooth; }
